CREATE TABLE IF NOT EXISTS settings (setting_key varchar(50) NOT NULL, setting_value varchar(255) DEFAULT NULL, PRIMARY KEY (setting_key)) ENGINE=MyISAM;
INSERT IGNORE INTO settings (setting_key, setting_value) VALUES ('ai_provider', 'puter');
